# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo

# Environment
.env
venv/
.envrc
.venv/
*.swp

# DVC
.dvc/tmp/
.dvc/cache/
.dvc/plots/
**/.DS_Store

# Logs
logs/
mlruns/
airflow.db

# Jupyter
*.ipynb_checkpoints
.ipynb_checkpoints

# prometheus
prometheus/

# OS-specific
.DS_Store
Thumbs.db
